* {
  margin: 0;
}

html,
body {
  background-color: #37366a;
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  position: relative;
  min-height: 85vh;
}

.footer {
  position: absolute;
  background-color: #45217c;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  height: 80px;
}
